In [1]:
#import necessary library
import numpy as np # linear algebra
import pandas as pd # data manipulation and analysis
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # data visualization
sns.set_style('whitegrid') # set style for visualization
import warnings # ignore warnings
warnings.filterwarnings('ignore')

from initial_report import *

In [2]:
#import customer data
df_event=pd.read_csv("cleaned_events.csv")
df_event.head()
df_event

,customer_id,event,time,offer_id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN
...,...,...,...,...,...,...
306132,b3a1272bc9904337b331bf348c3e8c17,transaction,714,NaN,1.59,NaN
306133,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,NaN,9.53,NaN
306134,a00058cf10334a308c68e7631c529907,transaction,714,NaN,3.61,NaN
306135,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,NaN,3.53,NaN
306136,c02b10e8752c4d8e9b73f918558531f7,transaction,714,NaN,4.05,NaN

In [9]:
df_t=df_event[df_event.event=="transaction"]
df_t[df_t.offer_id.notna()]

Empty DataFrame
Columns: [customer_id, event, time, offer_id, amount, reward]
Index: []

In [3]:
#value counts of event
df_event.event.value_counts()

event
transaction        138953
offer received      76277
offer viewed        57725
offer completed     33182
Name: count, dtype: int64

In [10]:
df_received = df_event[df_event['event'] == 'offer received'][['customer_id', 'offer_id', 'time']]
df_received.rename(columns={'time': 'received_time'}, inplace=True)
df_received

,customer_id,offer_id,received_time
0,78afa995795e4d85b5d9ceeca43f5fef,9b98b8c7a33c4b65b9aebfe6a799e6d9,0
1,a03223e636434f42ac4c3df47e8bac43,0b1e1539f2cc45b7b9fa7c272da2e1d7,0
2,e2127556f4f64592b11af22de27a7932,2906b810c7d4411798c6938adc9daaa5,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,fafdcd668e3743c1bb461111dcafc2a4,0
4,68617ca6246f4fbc85e91a2a49552598,4d5c57ea9a6940dd891ad53e9dbe8da0,0
...,...,...,...
257635,d087c473b4d247ccb0abfef59ba12b0e,ae264e3637204a6fb9bb56bc8210ddfd,576
257636,cb23b66c56f64b109d673d5e56574529,2906b810c7d4411798c6938adc9daaa5,576
257637,6d5f3a774f3d4714ab0c092238f3a1d7,2298d6c36e964ae4a3e7e9706d1fb8c2,576
257638,9dc1421481194dcd9400aec7c9ae6366,ae264e3637204a6fb9bb56bc8210ddfd,576
257639,e4052622e5ba45a8b96b59aba68cf068,3f207df678b143eea3cee63160fa8bed,576

In [11]:
# Filter viewed event type
df_viewed = df_event[df_event['event'] == 'offer viewed'][['customer_id', 'offer_id', 'time']]
df_viewed.rename(columns={'time': 'viewed_time'}, inplace=True)
df_viewed

,customer_id,offer_id,viewed_time
12650,389bc3fa690240e798340f5a15918d5c,f19421c1d4aa40978ebb69ca19b0e20d,0
12651,d1ede868e29245ea91818a903fec04c6,5a8bc65990b245e5a138643cd4eb9837,0
12652,102e9454054946fda62242d2e176fdce,4d5c57ea9a6940dd891ad53e9dbe8da0,0
12653,02c083884c7d45b39cc68e1314fec56c,ae264e3637204a6fb9bb56bc8210ddfd,0
12655,be8a5d1981a2458d90b255ddc7e0d174,5a8bc65990b245e5a138643cd4eb9837,0
...,...,...,...
306045,d56386cf344c4829bbf420d1895dca37,5a8bc65990b245e5a138643cd4eb9837,714
306054,9b51e8797290403b90d09d864dec4b94,3f207df678b143eea3cee63160fa8bed,714
306086,84fb57a7fe8045a8bf6236738ee73a0f,5a8bc65990b245e5a138643cd4eb9837,714
306093,abc4359eb34e4e2ca2349da2ddf771b6,3f207df678b143eea3cee63160fa8bed,714
306110,8dda575c2a1d44b9ac8e8b07b93d1f8e,0b1e1539f2cc45b7b9fa7c272da2e1d7,714

In [28]:
# Merge df_received and df_viewed
df_lifecycle = pd.merge(df_received, df_viewed, on=['customer_id', 'offer_id'],how="outer")
df_lifecycle

,customer_id,offer_id,received_time,viewed_time
0,0009655768c64bdeb2e877511632db8f,2906b810c7d4411798c6938adc9daaa5,576,NaN
1,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,336,372.0
2,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,168,192.0
3,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,408,456.0
4,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,504,540.0
...,...,...,...,...
95316,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,576,354.0
95317,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,576,414.0
95318,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,576,582.0
95319,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,504,534.0
95320,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,0,6.0

In [30]:
df_earliest_view = df_lifecycle.groupby(['customer_id', 'offer_id', 'received_time'], as_index=False)['viewed_time'].min()
df_earliest_view

,customer_id,offer_id,received_time,viewed_time
0,0009655768c64bdeb2e877511632db8f,2906b810c7d4411798c6938adc9daaa5,576,NaN
1,0009655768c64bdeb2e877511632db8f,3f207df678b143eea3cee63160fa8bed,336,372.0
2,0009655768c64bdeb2e877511632db8f,5a8bc65990b245e5a138643cd4eb9837,168,192.0
3,0009655768c64bdeb2e877511632db8f,f19421c1d4aa40978ebb69ca19b0e20d,408,456.0
4,0009655768c64bdeb2e877511632db8f,fafdcd668e3743c1bb461111dcafc2a4,504,540.0
...,...,...,...,...
76272,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,336,354.0
76273,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,408,354.0
76274,ffff82501cea40309d5fdd7edcca4a07,2906b810c7d4411798c6938adc9daaa5,576,354.0
76275,ffff82501cea40309d5fdd7edcca4a07,9b98b8c7a33c4b65b9aebfe6a799e6d9,504,534.0
76276,ffff82501cea40309d5fdd7edcca4a07,fafdcd668e3743c1bb461111dcafc2a4,0,6.0

In [31]:
df_earliest_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    76277 non-null  object
 1   offer_id       76277 non-null  object
 2   received_time  76277 non-null  int64
 3   viewed_time    60285 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.3+ MB