In [1]:
#import necessary library
import numpy as np # linear algebra
import pandas as pd # data manipulation and analysis
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # data visualization
sns.set_style('whitegrid') # set style for visualization
import warnings # ignore warnings
warnings.filterwarnings('ignore')

from initial_report import *

In [2]:
#import customer data
df_customer=pd.read_csv("cleaned_customer_data.csv")
df_customer.head()

                        customer_id became_member_on gender  age    income
0  0610b486422d4921ae7d2bf64640c50b       2017-07-15      F   55  112000.0
1  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09      F   75  100000.0
2  e2127556f4f64592b11af22de27a7932       2018-04-26      M   68   70000.0
3  389bc3fa690240e798340f5a15918d5c       2018-02-09      M   65   53000.0
4  2eeac8d8feae4a8cad5a6af0499a211d       2017-11-11      M   58   51000.0

In [3]:
#get initial report
initial_report(df_customer)

 *** DATA CLEANING CHECKLIST ***
----------------------------------------
*** Structure:
- Total Rows: 14825
- Total Columns: 5
- Column Names: ['customer_id', 'became_member_on', 'gender', 'age', 'income']

*** Data Types:
  customer_id: object
  became_member_on: object
  gender: object
  age: int64
  income: float64

*** Mixed Data Types:

*** Distinct Values per Column:
  customer_id: 14825
  became_member_on: 1707
  gender: 3
  age: 84
  income: 91

*** Null Values and Percentages:


*** Duplicates: 0

*** Negative or Zero Values:

*** Basic Statistics:
                age         income
count  14825.000000   14825.000000
mean      54.393524   65404.991568
std       17.383705   21598.299410
min       18.000000   30000.000000
25%       42.000000   49000.000000
50%       55.000000   64000.000000
75%       66.000000   80000.000000
max      101.000000  120000.000000

*** Category Description:
                             customer_id became_member_on gender
count                              14825            14825  14825
unique                             14825             1707      3
top     e4052622e5ba45a8b96b59aba68cf068       2017-08-19      M
freq                                   1               39   8484

*** Outliers (IQR method):
  age: No outliers
    Lower Bound: 6.00
    Upper Bound: 102.00
  income: No outliers
    Lower Bound: 2500.00
    Upper Bound: 126500.00
----------------------------------------

Problems:
1. became member on column is object type- [change to datetype]

In [4]:
# Convert 'became_member_on' to datetime
df_customer['became_member_on'] = pd.to_datetime(df_customer['became_member_on'])
print(df_customer['became_member_on'].dtype)

datetime64[ns]

In [5]:
# Create age group column
df_customer['age_group'] = np.select(
    [
        (df_customer['age'] >= 18) & (df_customer['age'] <= 34),
        (df_customer['age'] >= 35) & (df_customer['age'] <= 49),
        (df_customer['age'] >= 50) & (df_customer['age'] <= 64),
        (df_customer['age'] >= 65) & (df_customer['age'] <= 79),
        (df_customer['age'] >= 80) & (df_customer['age'] <= 110)
    ],
    [
        'Young Adult',
        'Middle Age Adult',
        'Older Adult',
        'Senior',
        'Elderly'
    ],
    default='Unknown'
)

#print
df_customer.head()

,customer_id,became_member_on,gender,age,income,age_group
0,0610b486422d4921ae7d2bf64640c50b,2017-07-15,F,55,112000.0,Older Adult
1,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,F,75,100000.0,Senior
2,e2127556f4f64592b11af22de27a7932,2018-04-26,M,68,70000.0,Senior
3,389bc3fa690240e798340f5a15918d5c,2018-02-09,M,65,53000.0,Senior
4,2eeac8d8feae4a8cad5a6af0499a211d,2017-11-11,M,58,51000.0,Older Adult

In [10]:
#get value counts for age group
df_customer.age_group.value_counts()

age_group
Older Adult         5150
Senior              3164
Middle Age Adult    3153
Young Adult         2256
Elderly             1102
Name: count, dtype: int64